__pycache__/
*egg-info/
build/
*.lib*
*.so*
*.dll*
*.pyd*
/MANIFEST.in
/*/include/
/*/thirdParty/
/thirdParty/*
!/thirdParty/deps/
/thirdParty/deps/*
!/thirdParty/scripts/
/doc/*
!/doc/Doxyfile
!/doc/scripts/
!/doc/src/
*.pyc
/.vscode
