__pycache__/
*egg-info/
build/
dist/
*.lib*
*.so*
*.dll*
*.pyd*
BuildIdentifier.txt
PluginDependencyInfo.json
/MANIFEST.in
/*/include/
/*/thirdParty/
/thirdParty/*
!/thirdParty/deps/
/thirdParty/deps/*
!/thirdParty/scripts/
!/thirdParty/modification/
/doc/*
!/doc/asrc_doc_stylesheet.css
!/doc/Doxyfile
!/doc/scripts/
!/doc/src/
*.pyc
/.vscode
